.leaflet-container {
    width: 80%;
    height: 1000px;
    /* margin: 10px; */
}

main{
    display: flex;
}

aside{
    background-color: beige;
    width: 20%;
    /* padding-left: 10px;
    padding-right: 10px; */
}
