/* ******************************************************\
**                      header.jsx                      **
\********************************************************/

.header {
  background-color: rgb(25, 118, 210);
  color: white;
  padding: 10px 5% 10px;
  user-select: none;
  height: fit-content;
}

/* ******************************************************\
**                      button.jsx                      **
\********************************************************/

.selectBtn {
  color: white;
  width: 131px;
  height: 44px;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 10px 10px 10px;
  border: none;
}

.BtnTitle {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: 10px 10px 0px 10px;
}

.BtnPage {
  margin-left: 30px;
}
