/* ******************************************************\
**                      header.jsx                      **
\********************************************************/

.header {
  background-color: rgb(25, 118, 210);
  color: white;
  padding: 0 5%;
  user-select: none;
  height: 10vh;
  display: flex;
  align-items: center;
}

h2 {
  margin: 0;
}

/* ******************************************************\
**                      button.jsx                      **
\********************************************************/

.selectBtn label{
  display: block;
  background-color: grey;
  float: left;
  width: 120px;
  height: 45px;
  margin: 5px;
  text-align: center;
  line-height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
  user-select: none;
}

.selectBtn input{
  display: none;
}

.selectBtn input:checked + label,
.selectBtn.checked label {
  background-color: #31A9EE;
  border: 2px solid #006DD9;
}

/* ******************************************************\
**                    button_page.jsx                   **
\********************************************************/

.BtnPage {
    height: 100%;
    overflow: auto;
}

.SetBtn {
    display: flex;
    flex-wrap: wrap;
}

.BtnTitle {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin: 10px 10px 0px 10px;
}
