/* ******************************************************\
**                      header.jsx                      **
\********************************************************/

.header {
	background-color: rgb(25, 118, 210);
	color: white;
	padding: 10px 5% 10px;
	user-select: none;
	height: fit-content;
}

/* ******************************************************\
**                      button.jsx                      **
\********************************************************/

.selectBtn {
	width: 120px;
	height: 60px;
	display: block;
	font-weight: bold;
	border-radius: 9999px;
	cursor: pointer;
	border: none;
  }
